.lead__pic {
max-width: 100%;
max-height: auto;
margin: 64px 0 0;
}

@media screen and (max-width: 1024px){
   .lead__pic {
     margin: 54px 0 0;
  }
}


@media screen and (max-width: 768px){
  .lead__pic {
    margin: 54px 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px){
  .lead__pic {
    margin: 40px 0 0;
  }
} 
