@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__item/cover__item.css);

.cover {
	max-width: 1184px;
	height: auto;
	padding: 0;
	margin: 92px 48px;

}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 320px;;
	margin-bottom: 64px;
	margin: 0 0 64px;
  }
}