@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__item/cover__item.css);

.cover {
  margin: 0 auto;
  padding: 92px 48px 92px;
  position: relative;
  max-width: 1184px;
  width:100%;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    width: 100vw;
    padding: 92px 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 100%;
    padding: 89px 0 88px;
  }
}

@media screen and (max-width: 460px) {
  .cover {
    padding: 64px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 100%;
  }
}