.places__box {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 48px 40px;
  padding: 0;
  margin: 0 0 81px;
}


@media screen and (max-width: 1024px){
  .places__box {
    margin: 0 auto 80px;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .places__box {
    margin: 0 auto 73px;
    gap: 48px 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .places__box {
    grid-template: 1fr / 1fr;
    gap: 30px;
  }
} 

@media screen and (max-width: 320px) {
  .places__box {
    grid-template: 1fr / 1fr;
    gap: 30px;
    margin: 48px 0 0;
  }
} 

