.places__box {
  width: 100%;
  height: fit-content;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 48px;
  column-gap: 40px;
}

.places__box:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__box {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__box {
    column-gap: 28px;
  }
}

@media screen and (max-width: 666px) {
  .places__box {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 30px;
  }
}

